#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.search {
  color: green;
}

.trackResult {
  color: blanchedalmond;
  border-bottom: thin solid whitesmoke;
  margin: 5px 20px;
  padding: 5px;
  text-align: left;
  display: flex;
  align-items: center;
}

.trackContainer {
  display: inline;
  width: 95%;
}

.trackTitle {
  font-weight: bold;
  color: white;
  margin: 0px;
}

.trackArtist {
  color: gray;
  margin: 0px;
}

.actionIcon {
  text-align: center;
  font-weight: bold;
  
}